@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,600;0,700;0,800;1,500&display=swap');
html {
    font-family: "Roboto";
    font-size: 16px;
}
body {
    margin: 0;
}
main {
    margin: auto 100px;
}
.h1--main {
    margin-top: 2em;
    margin-bottom: 1.5em;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat";
    font-weight: 700;
    color: #0e264b;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
    margin-top: 0;
}
.heading__span {
    font-size: 16px;
}
.heading__span code {
    margin-right: 1em;
}
h1 {
    font-size: 2.4rem;
    line-height: 1.6;
}
h2 {
    font-size: 2.2rem;
    line-height: 1.5;
}
h3 {
    font-size: 2rem;
    line-height: 1.45;
}
h4 {
    font-size: 1.8rem;
    line-height: 1.45;
}
h5 {
    font-size: 1.6rem;
    line-height: 1.45;
}
h6 {
    font-size: 1.4rem;
    line-height: 1.4;
}
.section__text {
    width: 450px;
    line-height: 20px;
    letter-spacing: 0.1px; 
}
b {
    font-weight: bolder;
}
p {
    margin: 0;
}
mark {
    background-color: rgb(255, 255, 0);
    padding: 0 3px;
}
small {
    font-size: 12px;
}
.section__ordered_list {
    margin: 0;
    padding-left: 50px;
}
.section__ordered_list li {
    margin-bottom: 3px;
}
img {
    width: 100%;
}
ul {
    margin: 0;
}
.section__figure {
    width: 500px;
    position: relative;
}
.section__figure__figcaption {
    display: none;
}
.section__figure:hover .section__figure__figcaption {
    display: block;
    position: absolute;
    bottom: 4px;
    width: 100%;
    background-color: rgb(128, 128, 128) ;
    opacity: 0.6;
    text-align: center;
    padding: 5px 0;
}
.nav__ul {
    display: flex;
    justify-content: flex-end;
    padding: 0;
    padding-top: 10px;
}
.nav__ul__item_list {
    display: block;
    margin-left: 20px;
}
.nav__ul__item_list a {
    text-decoration: none;
    color: black;
    padding: 10px;
    padding-top: 0;
    border-radius: 3px;
}
.nav__ul__item_list a:hover {
    color: #0078ef;
}
.button  {
    font-size: 18px;
    width: 90px;
    height: 45px;
    text-align: center;
    line-height: 30px;
    background-color: #0078ef;
    border-radius: 10px;
    border: 1px solid black;
    color: white;
}
.button:hover {
    cursor: pointer;
    background-color: #0256aa;
    transition: 0.2s;
}
q {
    background-color: rgb(201, 201, 201);
    padding: 1rem;
    border-radius: 5px;
    margin-bottom: 3em;
    display: inline-block;
    
}
blockquote {
    background-color: rgb(201, 201, 201);
    padding: 1rem;
    border-radius: 5px;
    margin:0;
}
.blockquote__figcaption {
    padding-top: 15px;
    font-style: italic;
}
